# MYSQL

# Server name
SRV_HOST=ctr-mysql
RELEASE=mysql:8.3

# Database
MYSQL_DATABASE=HUB
MYSQL_USER=HUB
MYSQL_PASSWORD=<SENHA_DO_USUARIO>
MYSQL_ROOT_PASSWORD=<SENHA_DO_ROOT_DO_BANCO>

# Volume
VOL_DATABASES_PATH=/bskp/databases:/var/lib/mysql

# Ports
PORTS_MYSQL=3306:3306

# IP
IPV4_ADDRESS=172.18.0.2
SUBNET=172.18.0.0/16
